* {
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    flex-flow: row nowrap;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    margin: 15px;
    padding: 0;
}

.menu__item {
    flex: 0 0 auto;
    padding: 10px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.menu__link {
    font-family: 'Roboto', sans-serif;
}

.menu__link:hover {
    text-decoration: none;
}

.title {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.no-data-title {
    text-align: center;
}

.cur-date {
    text-align: center;
}

.status-table {
    display: flex;
    flex-flow: row wrap;
}

.status-table__col {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
}

.status-table__row {
    padding: 10px;
    /*outline: 1px solid;*/
}

.status-table__data {
/*     font-weight: 600; */
    color: #007ca2;
    font-style: italic;
}

.data-window {
    overflow-x: auto;
    margin: 0 auto;
}

.data-table {
    border-collapse: collapse;
    margin: 0 auto 30px auto;
}

.data-table td {
    border: 1px solid black;
    text-align: center;
    white-space: nowrap;
    padding: 5px;
}

.data-table th {
    overflow-x: hidden;
    border: 1px solid black;
    /*white-space: nowrap;*/
    width: 100px;
}

.data-table thead {
    background: #ddd;
}

.data-table tbody tr:hover {
    background: #eee;
}

.search-hint {
    text-align: center;
}

.search-form {
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.search-form__form {
    display: flex;
    flex-flow: column;
    margin: 0 10px;
    align-items: center;
}

.search-form__label {
    display: flex;
    flex-grow: row wrap;
    width: 200px;
    align-items: center;
    margin-bottom: 10px;
}

.search-form__input {
    margin-left: auto;
    padding: 5px;
    font-size: 16px;
    
}

.search-form__submit {
    padding: 5px 10px;
    cursor: pointer;
}


@media screen and (min-width: 778px) {
    .menu {
        margin: 20px 40px;
    }

    .status-table {
        margin: 0 20px;
    }
    
    .search-form {
        justify-content: center;
    }
    
    .search-form__form {
        flex-flow: row nowrap;
        align-items: center;
    }
    
    .search-form__label {
        margin: 0 0 0 10px;
    }
    
    .search-form__submit {
        margin-left: 20px;
    }
}


@media screen and (min-width: 998px) {
    .status-table {
        justify-content: center;
    }
}