{% extends "base.html" %}

{% block title %}
    Index page
{% endblock title %}

{% set cur_datetime = (sys_info['cur_date']|fromtimestamp).split(' ') %}
{% set last_update = sys_info['last_update'].split(' ') if sys_info['last_update'] != '' else '-' %}


{% block content %}
    <h1 class="title">Статус ПК</h1>
    <h3 class="cur-date">Данные на: <span><a href="{{url_for('search.index', from_date=cur_datetime[0]|replace('.', '-'), to_date=cur_datetime[0]|replace('.', '-'))}}">{{cur_datetime[0]}}</a> в {{cur_datetime[1]}}</span></h3>
    <div class="status-table">
        <div class="status-table__col">
            <div class="status-table__row">Температура процессора: <span class="status-table__data">{{sys_info['cpu_temp']|valueformat}}&#8451;</span></div>
            <div class="status-table__row">Температура SSD: <span class="status-table__data">{{sys_info['ssd_temp']|valueformat}}&#8451;</span></div>
            <div class="status-table__row">Место на диске (всего/доступно): <span class="status-table__data">{{sys_info['disk_space_total']|valueformat}} GB / {{sys_info['disk_space_available']|valueformat}} GB</span></div>
            <div class="status-table__row">Оперативная память (всего/доступно): <span class="status-table__data">{{sys_info['ram_total']|valueformat}} KB / {{sys_info['ram_available']|valueformat}} KB</span></div>
            <div class="status-table__row">Количество процессов: <span class="status-table__data">{{sys_info['process_count']|valueformat}}</span></div>
            <div class="status-table__row">Время работы без перезагрузки: 
                <span class="status-table__data">
                    {{sys_info['uptime']|uptimeformat}}
                </span>
            </div>
        </div>
        <div class="status-table__col">
            <div class="status-table__row">Скорость кулера (CPU fan): <span class="status-table__data">{{sys_info['cpu_fan']|valueformat}} RPM</span></div>
            <div class="status-table__row">Скорость кулера (Add. fan): <span class="status-table__data">{{sys_info['add_fan']|valueformat}} RPM</span></div>
            <div class="status-table__row">Уровень звука в ОС: <span class="status-table__data">{{sys_info['volume_level']|valueformat}}%</span></div>
            <div class="status-table__row">Последнее обновление: 
                <span class="status-table__data">
                    {% if last_update == '-' %}
                        -
                    {% else %}
                      {{last_update[0]|replace('-', '.')}} в {{(last_update[1])[0:-3]}}
                    {% endif %}
                </span>
            </div>
            <div class="status-table__row">Загрузкa системы (Load average): <span class="status-table__data">{{sys_info['load_average']|valueformat}}</span></div>
            <div class="status-table__row">Текущая раскладка: <span class="status-table__data">{{sys_info['keyboard_layout']|valueformat}}</span></div>
        </div>
    </div>  
{% endblock content %}
    