{% extends "base.html" %}

{% block title %}
    Поиск данных
{% endblock title %}
    

{% block content %}
    <h1 class="title">Поиск данных</h1>
    <div class="search-form">
        <form class="search-form__form" action="#" method="GET">
            <label class="search-form__label">
                <span class="search-form__label-text">С:</span>
                <input class="search-form__input" name="from_date" type="date">
            </label>
            <label class="search-form__label">
                <span class="search-form__label-text">По:</span>
                <input class="search-form__input" name="to_date" type="date">
            </label>
            <input class="search-form__submit" type="submit" value="Найти">
        </form>
    </div>
    {% if sys_info|length != 0 %}
        <div class="data-window">
            <table class="data-table">
                <thead class="data-table__header">
                    <tr>
                        <th title="Дата">Дата</th>
                        <th title="Тем-ра CPU">Тем-ра CPU</th>
                        <th title="Тем-ра SSD">Тем-ра SSD</th>
                        <th title="Место на диске (всего/доступно)">Место на диске (всего/доступно)</th>
                        <th title="Оперативная память (всего/доступно):">Оперативная память (всего/доступно):</th>
                        <th title="Кол-во процессов">Кол-во процессов</th>
                        <th title="Время работы без перезагрузки:">Время работы без перезагрузки:</th>
                        <th title="Скорость кулера (CPU fan):">Скорость кулера (CPU fan):</th>
                        <th title="Скорость кулера (Add. fan):">Скорость кулера (Add. fan):</th>
                        <th title="Уровень звука в ОС:">Уровень звука в ОС:</th>
                        <th title="Последнее обновление:">Последнее обновление:</th>
                        <th title="Загрузкa системы (Load average):">Загрузкa системы (Load average):</th>
                        <th title="Текущая раскладка:">Текущая раскладка:</th>
                    </tr>            
                </thead>

                <tbody>
                    {% for row in sys_info %}
                        <tr>
                            <td title="Дата">{{row['cur_date']|fromtimestamp}}</td>
                            <td title="Тем-ра CPU">{{row['cpu_temp']}}</td>
                            <td title="Тем-ра SSD">{{row['ssd_temp']}}</td>
                            <td title="Место на диске (всего/доступно)">{{row['disk_space_total']}} GB/ {{row['disk_space_available']}} GB</td>
                            <td title="Оперативная память (всего/доступно):">{{row['ram_total']}} KB / {{row['ram_available']}} KB</td>
                            <td title="Кол-во процессов">{{row['process_count']}}</td>
                            <td title="Время работы без перезагрузки:">{{row['uptime']}}</td>
                            <td title="Скорость кулера (CPU fan):">{{row['cpu_fan']}}</td>
                            <td title="Скорость кулера (Add. fan):">{{row['add_fan']}}</td>
                            <td title="Уровень звука в ОС:">{{row['volume_level']}}</td>
                            <td title="Последнее обновление:">{{row['last_update']}}</td>
                            <td title="Загрузкa системы (Load average):">{{row['load_average']}}</td>
                            <td title="Текущая раскладка:">{{row['keyboard_layout']}}</td>            
                        </tr>            
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="search-hint">Выберите необходимый диапазон</p>
    {% endif %}
{% endblock content %}
    